.cards {
  margin-top: 20px;
}
.cards__list {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(413px, 1fr));
}

.cards__image {
  object-fit: cover;
  height: 413px;
  width: 413px;
  border-radius: 8px;
}
.cards__textbox {
  display: flex;
  justify-content: space-between;
  margin: 12px 0 0;
}
.cards__text {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}
.cards__like-icon {
  height: 20px;
  width: 23px;
  align-self: flex-end;
  opacity: 40%;
}
