.card {
  width: 100%;
  list-style: none;
}
.card__image {
  display: block;
  object-fit: cover;
  aspect-ratio: 1 /1;
  width: 100%;
  border-radius: 8px;
}
.card__textbox {
  display: flex;
  justify-content: space-between;
  margin: 12px 0 0;
}
.card__text {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  max-width: 353px;
}
.card__button-like {
  height: 20px;
  width: 23px;
  background-image: url("../images/like_icon_dark.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: none;
  transition: opacity 0.25s ease-in-out;
  align-self: flex-end;
  opacity: 40%;
}

.card__button-like:hover {
  opacity: 100%;
}

@media screen and (max-width: 460px) {
  .card__text {
    font-size: 16px;
  }
}
