.cards {
  margin-top: 20px;
}
.cards__list {
  margin: 0 auto;
  padding: 0 0 40px 0;
  list-style-type: none;
  column-gap: 20px;
  row-gap: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(413px, 413px));
  justify-content: center;
  border-bottom: 1px solid rgb(33, 33, 33, 0.4);
}

.cards__image {
  object-fit: cover;
  height: 413px;
  width: 413px;
  border-radius: 8px;
}
.cards__textbox {
  display: flex;
  justify-content: space-between;
  margin: 12px 0 0;
}
.cards__text {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  max-width: 353px;
}
.cards__button-like {
  height: 20px;
  width: 23px;
  background-image: url("../images/like_icon_dark.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: none;
  transition: opacity 0.25s ease-in-out;
  align-self: flex-end;
  opacity: 40%;
}

.cards__button-like:hover {
  opacity: 100%;
}
